<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=10.7.10.6;Database=mex_mes;User=root;Password=ivihaengsung@1;AllowLoadLocalInfile=true" providerName="MySql.Data.MySqlClient"/>
		<add name="HsmesConnection" connectionString="User Id=INFINITY21_JSMES;Password=INFINITY21_JSMES;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.7.10.56)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=HSEVNPDB)))"/>
	</connectionStrings>

	<appSettings>
		<!--Æô¶¯·þÎñÐÎÊ½(0´ú±íÄ¬ÈÏÏµÍ³·þÎñ, 1´ú±íexe·½Ê½Æô¶¯)-->
		<add key="StartServerByExe" value="0"/>
		<!--·þÎñ¾ø¶ÔÂ·¾¶£¬ÓÃÓÚÀ­Æð·þÎñ(valueÎª""Ê±Ä¬ÈÏÀ­ÆðÏµÍ³·þÎñ£¬valueÎª·þÎñÂ·¾¶Ê±ÎªÒÔ½ø³Ì·½Ê½Æô¶¯)-->
		<add key="ServerPath" value=""/>
		<!--<add key="ServerPath" value="E:\Program Files\VisionMaster\VisionMaster4.1.0\Applications\Server\VisionMasterServer.exe"/>-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="SaveDir" value="D:\VisionImages"/>
		<add key="VisionLogDir" value="E:\VisionLogs"/>

		<add key="Machine_Name" value="AV-HKL-01"/>
		<add key="JpegQualityLevel" value="98"/>
		<add key="ScanOut_ComPort" value="COM7"/>
		<add key="ScanOut_BaudRate" value="115200"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
		</providers>
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite.EF6"/>
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>

			<remove invariant="Oracle.ManagedDataAccess.Client"/>
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
		</DbProviderFactories>
	</system.data>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
